<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherStarter.Properties.Settings>
            <setting name="UpdateURI" serializeAs="String">
                <value>ftp://weather-diary.hostoi.com/public_html/</value>
            </setting>
            <setting name="UserFTP" serializeAs="String">
                <value>a1613050</value>
            </setting>
            <setting name="PasswordFTP" serializeAs="String">
                <value>alex7rox</value>
            </setting>
            <setting name="VersionXmlPath" serializeAs="String">
                <value>backup\version.xml</value>
            </setting>
        </WeatherStarter.Properties.Settings>
    </userSettings>
</configuration>