<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WetherDiary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.88.0" newVersion="1.0.88.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WetherDiary.Properties.Settings>
      <setting name="DbName" serializeAs="String">
        <value>weather.s3db</value>
      </setting>
      <setting name="IconsDir" serializeAs="String">
        <value>icons</value>
      </setting>
      <setting name="DefaultIconName" serializeAs="String">
        <value>default.png</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>100, 10</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>772, 621</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="GridColumns" serializeAs="String">
        <value />
      </setting>
      <setting name="IconSize" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="RowHeight" serializeAs="String">
        <value>36</value>
      </setting>
    </WetherDiary.Properties.Settings>
  </userSettings>
</configuration>
